
BeatSaber Playlist Master V2/bin/Debug/net5.0-windows/win-x64/publish/Playlist Saber.rar
BeatSaber Playlist Master V2/bin/Release/net5.0-windows/win-x64/publish.old/BeatSaber Playlist Master V2.exe
BeatSaber Playlist Master V2/bin/Release/net5.0-windows/win-x64/publish.old2/BeatSaber Playlist Master V2.exe
BeatSaber Playlist Master V2/bin/Release/net5.0-windows/publish/win-x64/BeatSaber Playlist Master V2.exe
